:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #980863d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: auto;
  text-align: center;
}

.video{
  margin: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}
.trip{
  padding: 20px 0px 20px;
  margin: auto;
}

#btn_si:hover {
  cursor: pointer;
  background-color: #b71cf5;
  color: #fff;
} 
.say{
  margin: auto;
  padding: 50px;
  display: inline-block;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  border-radius: 15px;
  
}

h1 {
  color: blueviolet;
  font-size: 4em;
  font-family: 'Rubik Gemstones', cursive;
  display: inline-block;
  margin: auto;
  padding: 15px;
  
}

h2 {
  color: rgb(253, 8, 8);
  font-size: 4em;
  font-family: 'Rubik Gemstones', cursive;
  display: inline-block;
  padding: 50px;
  margin: auto;
}

.modo_sexo  {
  
  position: absolute;
  display: none;
  width: auto;
  height: 110%;
  background-color: #222;
  /* background-color: rgb(201, 13, 79); */
  z-index: 1;
 
}

#btn_si {
  
  margin: auto;
  background-color: rgb(95, 160, 120);
  border-color: cadetblue;
  color: azure;
  font-size: xx-large;
  padding: 32px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Rubik Gemstones', cursive;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
#btn_no{
  background-color: #980863d9;
  border-radius: 5px;
  border-color: 1px white;
  color: #222;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}

.btns{
  margin: 10px;
  padding: 15px;
}